<div class="row row-cols-1 g-4">

    {{ range .Site.Taxonomies.tags.featured }}
        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a class="stretched-link text-primary text-decoration-none" href="{{ .RelPermalink }}">
                            {{ .Title }}
                        </a>
                    </h4>
                    <p class="text-text">
                        {{ with .Params.description }}
                            {{ . }}
                        {{ else }}
                            {{ .Summary | truncate 400 }}
                        {{ end }}
                    </p>
                    <p class="text-text text-muted">
                        <small>
                            {{ .Lastmod | time.Format ":date_long" }}
                        </small>
                    </p>
                </div>
            </div>
    
        </div>
    {{ end }}
</div>