<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title }},
  {{- with $.Params.images -}}
    {{- range first 1 . -}}"image": {{ . | absURL }},{{ end -}}
  {{- end -}}
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  "author": {{ .Param "author" }},
  "mainEntityOfPage": { "@type": "WebPage" },
    "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title }}
    {{- with .Site.Params.images -}}
    {{- range first 1 . -}}
    ,
    "logo": {
      "@type": "ImageObject",
      "url": {{ . | absURL }}
    }
    {{ end -}}
    {{- end -}}
  },
  "wordcount" : {{ .Content | countwords }},
  "description": {{ .Summary | plainify | safeHTML }},
  "keywords": [{{ if .IsPage}}{{ range $index, $tag := .Params.tags }}{{ $tag }},{{ end }}{{ else }}{{ range $plural, $terms := .Site.Taxonomies }}{{ range $term, $val := $terms }}{{ printf "%s," $term }}{{ end }}{{ end }}{{ end }}]
}
</script>