{{/*
<!--
    Facebook Page Admin ID for Domain Insights
    https://developers.facebook.com/docs/plugins/comments/#moderation-setup-instructions
-->
*/}}
{{/* params.facebookAdmin is the documented setting; params.social.facebook_admin stays
     as a fallback. See head/twitter.html for why the shape is checked. */}}
{{- $admin := site.Params.facebookAdmin -}}
{{- if and (not $admin) (reflect.IsMap site.Params.social) -}}
  {{- $admin = site.Params.social.facebook_admin -}}
{{- end }}
{{- with $admin }}
    <meta property="fb:admins" content="{{ . }}">
{{ end }}
