<meta name="theme-color" content="{{ $.Site.Params.themeColor }}">
{{ if (os.FileExists "apple-touch-icon.png") }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ `apple-touch-icon.png` | absURL }}">
{{ end }}
{{ if (os.FileExists "favicon-32x32.png") }}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ `favicon-32x32.png` | absURL }}">
{{ end }}
{{ if (os.FileExists "favicon-16x16.png") }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ `favicon-16x16.png` | absURL }}">
{{ end }}
{{ if (os.FileExists "site.webmanifest") }}
    <link rel="manifest" crossorigin="use-credentials" href="{{ `site.webmanifest` | absURL }}">
{{ end }}
