<!-- Article Schema.org Type -->
<!-- https://schema.org/Article -->
<!-- Output all taxonomies as schema.org keywords -->

<!-- Revision based on Google guide https://developers.google.com/search/docs/advanced/structured-data/article#non-amp -->

{{ $iso8601 := "2006-01-02T15:04:05-07:00" -}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title }},
  {{ if $.Param "images" -}}
  {{ with .Resources.GetMatch (index ($.Param "images") 0) -}}
  "image": {{ .Permalink }},
  {{ end -}}
  {{ end -}}
  "datePublished": {{ .PublishDate.Format $iso8601 }},
  "dateModified": {{ .Lastmod.Format $iso8601 }},
  {{ with .Params.authors -}}
  {{ with (index (.) 0) -}}
  "author": {
    "@type": "Person",
    "name": "{{ . }}",
    "url": "{{ $.Site.BaseURL }}/authors/{{ . | urlize}}"
  },
  {{ end -}}
  {{ end -}}
  "mainEntityOfPage": {{ .Site.BaseURL }},
  "publisher": {
    "@type": "Organization",
    {{ if isset $.Site.Params "images" }}
    {{ with resources.GetMatch (index ($.Site.Params.images) 0) -}}
    "logo": {
      "@type": "ImageObject",
      "url": {{ .Permalink }}
    },
    {{ end -}}
    {{ end -}}
    "name": {{ .Site.Title }}
  },
  "wordcount" : {{ .Content | countwords }},
  "description": {{ with .Params.description }}{{ . }}{{ else }}{{ .Summary | plainify | safeHTML }}{{ end }},
  "keywords": {{ .Keywords }}
}
</script>