<title>{{ .Title }}</title>

{{ with .Description -}}
  <meta name="description" content="{{ . }}">
{{ else -}}
  {{ with .Summary | plainify -}}
    <meta name="description" content="{{ . }}">
  {{ else -}}
    <meta name="description" content="{{ .Site.Params.description }}">
  {{ end -}}
{{ end -}}

{{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}

<!-- Removed "_internal/schema.html" as it generates invalid HTML. Using "head/schema-article.html" in ld+json instead. -->

<!-- Removed "_internal/opengraph.html" as it generates invalid image links. Using "head/opengraph.html" and "head/facebook.html" instead. -->
{{ partial "head/opengraph.html" . }}
{{ partial "head/facebook.html" . }}
{{ partial "head/twitter.html" . }}

<!-- will load JSON-LD Schemas in pages -->
<!-- https://schema.org/docs/schemas.html -->
{{ if .IsPage }}
    {{- partial "head/schema-article.html" .  -}}
{{ end }}
