<!-- Twitter Cards -->
<!-- https://developer.x.com/en/docs/x-for-websites/cards/overview/summary-card-with-large-image -->

<!-- Test with Twitter Card Validator: https://cards-dev.twitter.com/validator -->

{{ with $.Params.images }}
  {{ $image := $.Resources.GetMatch (index (.) 0) }}
  {{ with $image -}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ .Permalink }}">
  {{ end -}}
{{ else -}}
  {{ with $.Site.Params.images }}
    {{ with resources.GetMatch (index (.) 0) }}
    {{ with .Resize "960x" -}}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ .Permalink }}">
    {{ end -}}
    {{ end -}}
  {{ else -}}
    <meta name="twitter:card" content="summary">
  {{ end -}}
{{ end -}}

<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">

{{ with .Site.Params.Social.twitter -}}
<meta name="twitter:site" content="@{{ . }}">
{{ end -}}
