<!doctype html>
<html lang="{{ .Language.LanguageCode | default site.Language.LanguageCode }}">
{{ partial "head/head.html" . }}
{{ $bodyClasses := slice }}

{{ if eq .Kind "home" -}}
  {{ $bodyClasses = $bodyClasses | append "home" -}}
{{ else if eq .Kind "404" -}}
  {{ $bodyClasses = $bodyClasses | append "error404" -}}
{{ else if eq .Kind "page" -}}
  {{ $bodyClasses = $bodyClasses | append .Type "single" -}}
{{ else -}}
  {{ $bodyClasses = $bodyClasses | append .Type "list" -}}
{{ end -}}

<body class="{{ delimit $bodyClasses " " }} d-flex flex-column min-vh-100">
    {{- partial "header/header.html" . -}}
    <div id="content">
        {{ if and (.Site.Params.options.breadCrumb) (ne .Kind "home") -}}
            {{- partial "header/breadcrumb.html" . -}}
        {{ end }}
        {{- block "main" . }}{{- end }}
    </div>
    {{ partial "footer/footer.html" . }}
    {{ partial "footer/script-footer.html" . }}
</body>
</html>
