<!-- Services section -->
<div class="container overflow-hidden mt-5">
    <div class="row gy-lg-5 gy-sm-4">

        <div class="col-md-6">
            <div class="col gy-3">
                <div class="col-auto mx-auto d-block text-center">
                    <img height="192px" width="192px" class="rounded" src="/images/site-feature-image.png"
                        alt="Catering"/>
                </div>
                <div class="col text-center text-lg-left">
                    <h3>Catering</h3>
                    <p>World class cuisine delivered to your doorstep.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col gy-3">
                <div class="col-auto mx-auto d-block text-center">
                    <img height="192px" width="192px" class="rounded" src="/images/site-feature-image.png"
                        alt="Corporate Events">
                </div>
                <div class="col text-center text-lg-left">
                    <h3>Corporate Events</h3>
                    <p>We pride ourselves the top notch event management services and take all the hassle of managing your event</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col gy-3">
                <div class="col-auto mx-auto d-block text-center">
                    <img height="192px" width="192px" class="rounded" src="/images/site-feature-image.png"
                        alt="Travel">
                </div>
                <div class="col text-center text-lg-left">
                    <h3> Travel Management</h3>
                    <p>Book amazing packages for travel accross the globe with honeymoon, getaways or just a family funtrip to theme parks!</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col gy-3">
                <div class="col-auto mx-auto d-block text-center">
                    <img height="192px" width="192px" class="rounded" src="/images/site-feature-image.png"
                        alt="Conferences">
                </div>
                <div class="col text-center text-lg-left">
                    <h3>Conferences</h3>
                    <p>We organise conference venues, speaker accomodation, AV, travel and wholistic event planning.</p>
                </div>
            </div>
        </div>

    </div>
</div>